.dropArea{
    display: grid;
    place-items: center;
    background-color: antiquewhite;
    width: 500px;
    height: 400px;

}

.text{
    border: dotted 2px black;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
