.empty{
  margin: 0px;
  padding: 0px;
}
.f-9{
  font-size: 14px;
}
.text-justify{
  text-align: justify;
  text-justify: inter-word;
}
.accordion-button {
  transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
  background-color: #80BC44;
  color: white;
}

.snap{
  height: 100vh ;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-child{
  height: 100vh ;
  scroll-snap-align: start;
}

/* Accordion header */
.accordion-button {
  background-color: #f0f0f0; /* light grey background */
  color: #333; /* text color */
}

/* Accordion header when collapsed */
.accordion-button.collapsed {
  background-color: #f5faf0;
  color: #555;
}

/* On hover/focus */
.accordion-button:hover,
.accordion-button:focus {
  background-color: #f5faf0;
  color: #000;
}

/* Accordion body */
.accordion-body {
  background-color: #f5faf0; /* white content background */
  color: #222;
  border-top: 1px solid #ccc;
}

/* Optional: Add border radius */
.accordion-item {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.accordion-button:not(.collapsed) {
  background-color: #FEFBEB !important; /* green background when expanded */
  color: white; /* white text when expanded */
}